---
date: October, 2016
due: 1610
#content: <%= 1610_content %>
subject: Extra special
layout: index
published: true
twitter:
  image: <%= cdnUrl %>/150904-hero.jpg
og:
  url: https://www.nccpt.com/data/newsletters/<%= grunt.template.today("yyyy") %>/<%= due %>-nccpt.html
  image: <%= cdnUrl %>/150904-hero.jpg
  description: Educate - Motivate - Elevate
---
<!-- inside .container tr td -->
<table>

	<tr>
		<td>
			<table>
				<tr>
					<td class="col-spacer" width="16">&nbsp;</td>
					<td>
						<h1>Here at NCCPT we are committed to helping you.</h1>
					</td>
					<td class="col-spacer" width="16">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="spacer-16"><td>&nbsp;</td></tr>

	<tr>
		<td>
      <a href="https://www.nccpt.com/online-deluxe-package" target="_blank">
  			<img class="img-featured" src="{{og.image}}" alt="{{subject}}" />
      </a>
		</td>
	</tr>

	<tr class="spacer-32"><td>&nbsp;</td></tr>

	<tr>
		<td>
			<table>
				<tr>
					<td class="col-spacer" width="16">&nbsp;</td>
					<td>
					  <table>
					    <tr >
					      <td class="heavy-border">
{{#markdown}}

The only constant in life is change. At NCCPT, we embrace change. As fitness professionals, we have the privilege of helping others embrace changes that transform their lives, one body at a time. 

What about you? Is it time for a personal transformation? We can help.

We&rsquo;ve updated our study materials and would like to extend a personal offer to you to help you finish what you started. It&rsquo;s not too late.

With this exclusive offer of only $79, you&rsquo;ll get:

[**Updated Online Deluxe Study Package**](https://www.nccpt.com/online-deluxe-package)

NCCPT's "Power of Personal Training" Manual (Online access) 353 page text book that will teach you:

*   Personal Trainer Video Series (online access)
*   Includes over **12 hours of videos** walking you through everything you need to know.
*   NCCPT Sample Test (Digital Download)
*   NCCPT Study Guide (Digital Download)
*   Six (6) additional CEU articles (Online)
*   Exam Readiness Quizzes
*   One (1) exam voucher*

{{/markdown}}
					      </td>
					    </tr>
              <tr class="spacer-16"><td>&nbsp;</td></tr>
              <tr>
                <td class="heavy-border align-center" >
                  <h2 style="margin-bottom: 16px;">Your code: <Property name="Subscriber.custom.couponcode"/></h2>
                </td>
              </tr>
              <tr class="spacer-16"><td>&nbsp;</td></tr>
              <tr>
                <td class="p-small">
{{#markdown}}
This special offer expires 10/31/2016

You will have six months from purchase date to take your exam.
Our career advisers are here to help you. [**Schedule an orientation**](https://nccpt.acuityscheduling.com/schedule.php) today.

_*Internet access required. No physical materials will be shipped for this product._

_**Coupon code expires 10/31/16. Coupon will only work one time, valid only for recipient, not transferrable._

{{/markdown}}
                </td>
              </tr>
					  </table>
					</td>
					<td class="col-spacer" width="16">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="spacer-32"><td>&nbsp;</td></tr>

	<tr >
    <td class="col-6">
      <table width="595">
        <tr class="align-center" align="center">
          <td>
            <a href="https://www.nccpt.com/online-deluxe-package" target="_blank">
              <button class="btn btn-default h2 light-text" type="button" name="link">See Details</button>
            </a>
          </td>
          <td>
              <button class="btn btn-dark h2" type="button" name="phone number">Call Now: (800) 778-6060</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>
