# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/psd/
/secrets.json
/.sass-cache/**/*
*.css.map
/src/**/*.css
/dist/
/.DS_Store
/src/css/.DS_Store
