/*	----------	*/
/*   grid work	*/
/*	----------	*/

.container
	.col-#{$columns}
		width: $width
		margin: 0
	@for $i from 1 to $columns
		.col-#{$i}
			// converting px width to %100% * [below] / $width
			width:  floor( ($i * ($width / $columns)) - $gutter)
			margin: 0

/* nested columns. */
[class*="col"]
	.col-#{$columns}
		width: 100%
	@for $i from 1 to $columns
		.col-#{$i}
			// converting px width to %100% *
			width: round(100% * ( ( ($i * ($width / $columns)) - $gutter) / $width))

table[class*="col-"]
	display: table-cell

/* spacers. */
td .col-spacer
	display: table-cell
	width: 2 * $gutter

.spacer
	line-height: 0
	font-size: 0
	display: table-row

@for $i from 1 to 5
	.spacer-#{$i * 8}
		@extend .spacer
		height: $body-line-height * ($i * 8px)
	
.grid
	td.col-spacer:last-of-type
		display: none