/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
$responsive-font-size: 16px;
body {
	font-size: $responsive-font-size !important;
	line-height: 1.4 !important;
}

.outer-wrapper {
	width: 100% !important;
}

p, .p, [class*="p"] {
	width: 90% !important;
}

h1,
.h1,
td[class~="h1"] {
	font-size: $responsive-font-size *2 !important;
	line-height: 1;
}

h2,
.h2,
td[class~="h2"] {
	font-size: $responsive-font-size * 1.5 !important;
}

h3,
.h3,
td[class~="h3"] {
  font-size: $responsive-font-size * 1.25 !important;
}

h4,
.h4,
td[class~="h4"] {
	font-size: $responsive-font-size !important;
}

.container {
	padding: 0 !important;
	width: 90% !important;
  margin: 0 auto !important;
}
*[class*="col"]{
	display: block !important;
	width: 100% !important;
}

.hidden-sm {
	visibility: collapse !important;
}

.hidden-big {
	visibility: visible !important;
}
