<!-- nccpt lift banner -->
<tr class="banner">
  <td>
    <table class="container">
      {{spacer 32}}
      <tr >
        <td align="center" class="h1 light-text align-center col-6">
          {{{ blog.name }}}
        </td>
      </tr>
      {{spacer 32}}
    </table>
  </td>
</tr>
<!-- end banner -->
