<!-- nccpt lift banner -->
<tr class="banner">
  <td>
    <table class="container">
      <tr>
        <td height="32" class="spacer-32">&nbsp;</td>
      </tr>
      <tr >
        <td align="center" class="h1 light-text align-center col-6">
          {{{ blog.name }}}
        </td>
      </tr>
      <tr>
        <td height="32" class="spacer-32">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<!-- end banner -->
