<!-- masthead -->
<tr  class="masthead">
	<td>
		<table class="container">
			<tr>
				<td class="col-6">
					<!-- logo -->
					<a href="https://www.nccpt.com/fitness-certifications/" target="_blank">
						<img width="600" src="http://static.nccpt.com/images/blog-header_logo-eblast.jpg" alt="https://www.nccpt.com/fitness-certifications/">
					</a>
					<!-- end logo -->
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end masthead -->
