{{#if nccpt-vars.pres-message.ready }}
<!-- main -->
<tr class="main">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<tr>
				<td class="content">
					<table>
						<tr>
							<td class="h1">
								{{{ nccpt-vars.pres-message.title }}}
							</td>
						</tr>
						<tr>
							<td height="32" class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="intro p">
								<p>
									{{{ nccpt-vars.pres-message.copy }}}
								</p>
							</td>
							<!-- end intro -->
						</tr>
					</table>
					<!-- end content -->
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end main -->
<tr>
	<td height="32" class="spacer-32">&nbsp;</td>
</tr>
<!-- spacer -->
{{/if}}