{{#if nccpt-vars.pres-message.ready }}
<!-- main -->
<tr class="main">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<tr>
				<td class="content">
					<table>
						<tr>
							<td class="h1">
								{{{ nccpt-vars.pres-message.title }}}
							</td>
						</tr>
						<tr>
							<td height="32" class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="intro p">
								<p>
									{{{ nccpt-vars.pres-message.copy }}}

									<p>We take so much for granted it&rsquo;s not even funny. Last night I went to the movies and found myself frustrated watching people walk. You see, I haven&rsquo;t walked since August 7<sup>th</sup>!</p>
									<p>Friday night on August 7<sup>th</sup>, I had a freak accident getting off of a drum riser and completely ruptured all my quadriceps from the right patella. Hard to describe how painful that is. I was operated on August 19<sup>th</sup>. As of today, I&rsquo;m 7 &frac12; weeks out from my surgery. I have 90&deg; of flexion but need 140&deg;. My surgeon recommends to not push it. Our target is 12 weeks. I have 4 &frac12; weeks to get 50&deg; of motion. This is just the beginning. The muscles were completely torn from both their insertion and the musculotendinous junction resulting in major trauma. It takes at least eight weeks for soft tissue to repair, however this was very traumatic. The muscles are just starting to fire now, yet I have almost no strength at all. I&rsquo;m in rehab seven days a week. I&rsquo;m documenting my progress and will create a CEU course for this type of injury/rehabilitation. Not my first choice of how to create a CEU course but&hellip; it is what it is. I predict at least six months to recover and possibly another three to get back my strength. Worst case &hellip; a year.&nbsp;It&rsquo;s not my first rodeo but even for me, it&rsquo;s very difficult psychologically.</p>
									<p>Look for our new <strong> Senior Fitness Certification</strong>! You&rsquo;ll be able to learn what issues to be concerned with and train this demographic safely and effectively. The baby boomers is such a huge demographic, this distinction will help you get more clientele and increase your business. <a title="Anton Kidd, Making lasting connections." href="http://blog.nccpt.com/2015/anton-kidd/" target="_blank"><strong> Anton Kidd</strong></a>, our Featured Trainer concurs. Read how his knowledge of this demographic helps his clients in their daily activities. Although, I think it&rsquo;s his million dollar smile that makes their day.</p>
									<p>Check out the <a href="http://blog.nccpt.com/2015/supported-squat-test-part-one/" target="_blank"><strong>Dartfish</strong> analysis on an assisted squat</a> by our <strong> Director of Education, Tom Delong. </strong> Do you know you can download the app, take video and then send it to us for a biomechanical analysis? How cool is that?</p>
									<p>We have a few <strong> CEU articles </strong> to help you recertify and we&rsquo;ve scheduled a few <a title="Live Workshops" href="http://www.nccpt.com/live-workshops" target="_blank"><strong> live </strong><strong> workshops </strong></a> back East and of course here in California for those of you who like the live interaction. I personally like the live workshops.</p>

									<p>Back in August I wrote to you about&nbsp;a podcast I heard in regards to licensure for personal trainers in Washington DC. On the call was Greg Glassman the creator of Cross Fit.</p>
									<p>During the podcast Greg made a comment that Cross Fit was the only organization that offered live, hands-on training. This of course is incorrect.</p>
									<p>Every major certification, <strong>including the NCCPT</strong> offers live, hands-on training.</p>
									<p>My good friend and NCCPT CEU provider &ndash; Lucho Crisalle, creator of <strong>the Certified Fitness Nutrition Specialist&trade;</strong> program has an Industry blockbuster Education Conference coming up in early December &ndash; The Monetize Your Nutrition Knowledge &ndash; Convert * Create * Automate event!</p>
									<p>If you have even <em>considered</em> adding a nutrition component to your business &ndash; or you just don&rsquo;t know how to truly monetize your nutrition training, then this is a MUST attend event.</p>
									<p>Lucho and his wife Lisa, know their stuff. They have each been in the industry over 25 years, and have a proven SYSTEM that they lay out and teach &ndash; hands on.&nbsp;They'll map out exactly how to add 6 figures in your business with this nutrition system.</p>
									<p>Look, we all know that December is the slowest month of the year in our industry. Why not utilize this time to Invest in yourself and your business? You can check it out here: <a href="http://www.MonetizeYourNutritionKnowledge.com">MonetizeYourNutritionKnowledge.com</a> and tell them I sent you.&nbsp;</p>
									<p>In fact, Lisa recently interviewed me for their <strong>FitPro Industry Podcast</strong> program. You can download it here, and be sure to leave a review: <a href="https://itunes.apple.com/us/podcast/fitproindustrys-podcast/id1036384940">https://itunes.apple.com/us/podcast/fitproindustrys-podcast/id1036384940</a></p>


									<p>Remember how lucky we are to live where we live and be thankful for your health -there&rsquo;s nothing better than being healthy. Have a Happy Halloween!</p>
									<p>Stay Fit!</p>
									<p><strong> John Platero </strong></p>

								<p>P.S<strong>. I&rsquo;ll be attending the Monetize Your Nutrition Knowledge Private Wrap Party</strong> on Sunday night in Las Vegas &ndash; so for those of you who attend the event, I&rsquo;ll look forward to seeing you there! Be sure to register quickly, as I&rsquo;ve heard that they have limited space, and the Early Bird pricing is going away.&nbsp;</p>

								</p>
							</td>
							<!-- end intro -->
						</tr>
					</table>
					<!-- end content -->
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end main -->
<tr>
	<td height="32" class="spacer-32">&nbsp;</td>
</tr>
<!-- spacer -->
{{/if}}
