<!-- blog -->

<!-- blog excerpts -->
<tr class="blog">
	<td>
		<table class="container">
			<tr><td height="32" class="spacer-32">&nbsp;</td></tr><!-- spacer -->
			<!-- article -->
			<tr>
				<td>
					<!-- panel, blog content will be in here. -->
					<table class="col-5">
						<tr>
							<td>
								<table class="blog-panel">

									<tr>
										<!-- thumbnail -->
										<td class="col-2">
											<img src="http://placehold.it/200x300" class="blog-thumbnail">
										</td>
										<!-- end thumbnail -->

										<!-- horizontal space -->
										<td width="16" class="spacer col">&nbsp;</td>
										<!-- end space -->

										<!-- blog copy -->
										<td class="col-4">
											<table class="blog-copy">
												<tr>
													<td>
														<!-- copy -->
														<table>
															<tr height="8" class="spacer-8"><td>&nbsp;</td></tr><!-- spacer -->

															<tr>
																<td class="h2">
																    huzzah
																</td>
															</tr>
															<tr height="8" class="spacer-8"><td>&nbsp;</td></tr><!-- spacer -->
															<tr>
																<td class="p">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. Vivamus vehicula dignissim augue et scelerisque. Etiam quam nisi, molestie ac dolor in, tincidunt tincidunt arcu. Praesent sed justo finibus, fringilla velit quis, porta erat. Donec blandit metus ut arcu iaculis iaculis. Cras nec dolor fringilla justo ullamcorper auctor. Aliquam eget pretium velit. Morbi urna justo, pulvinar id lobortis in, aliquet placerat orci.
																</td>
															</tr>
															<tr height="16" class="spacer-16"><td>&nbsp;</td></tr><!-- spacer -->
															<tr>
																<td>
																	<a href="{{ nccpt.blog }}/#" target="_blank" class="btn btn-default">Read More!</a>
																</td>
															</tr><!-- end button -->
															<tr height="16" class="spacer-16"><td>&nbsp;</td></tr><!-- spacer -->
														</table>
														<!-- end copy -->
													</td>
												</tr>
											</table>
										</td>
										<!-- end blog copy -->
									</tr>
								</table>
							</td>


						</tr>
					</table>
					<!-- end blog panel -->
				</td>
			</tr>
			<!-- end article -->
			<tr><td height="64" class="spacer">&nbsp;</td></tr><!-- spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
