<!-- main -->
<tr class="main">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<tr>
				<td class="content">
					<table>
						<tr>
							<td colspan="3" class="h1">
								{{{ content.pres-message.title }}}
							</td>
						</tr>
						<tr>
							<td height="32" class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="col-spacer"></td>
							<!-- content -->
							<td class="p">

								{{{ content.pres-message.copy }}}

								<p>P.S<strong>. I&rsquo;ll be attending the Monetize Your Nutrition Knowledge Private Wrap Party</strong> on Sunday night in Las Vegas &ndash; so for those of you who attend the event, I&rsquo;ll look forward to seeing you there! Be sure to register quickly, as I&rsquo;ve heard that they have limited space, and the Early Bird pricing is going away.&nbsp;</p>


							</td>
							<td class="col-spacer"></td>
							<!-- end intro -->
						</tr>
					</table>
					<!-- end content -->
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end main -->
<tr>
	<td height="32" class="spacer-32">&nbsp;</td>
</tr>
<!-- spacer -->
