<!-- announcment -->
<tr bgcolor="#3b3b3b" class="announcement">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr colspan="3">
				<td height="70" class="spacer" style="border-collapse: collapse; height: 70px">&nbsp;</td>
			</tr>
			<!-- end spacer -->

			<tr>
				<!-- left -->
				<td class="col-2">
					<!-- image -->
					<table class="">
						<tr>
							<td>
								<img src="http://static.nccpt.com/images/1507-sf-shirt-girl.jpg" alt="Smart Fitness">
							</td>
							<td width="30" class="spacer">&nbsp;</td>
						</tr>
					</table>
					<!-- end image -->
				</td>
				<!-- end left -->

				<!-- spacer col -->
				<td width="16" class="spacer">&nbsp;</td>
				<!-- end spacer col -->

				<!-- right -->
				<td class="col-4">
					<table>
						<!-- content -->
						<tr>
							<td class="h3 light-text">
								<strong> Please join Karen Perlmutter on a tour of Smart Fitness. </strong>
							</td>
						</tr>
<tr><td height="32" class="spacer-32">&nbsp;</td></tr><!-- spacer -->



						<tr height="16" class="spacer-16"><td>&nbsp;</td></tr><!-- spacer -->


						<tr>
							<td class="p light-text">
								Thu, Aug 13, 2015 11:00 AM - 11:45 AM Pacific Daylight Time
							</td>
						</tr>
						<tr height="32" class="spacer-32">
							<td>
								&nbsp;
							</td>
						</tr>
						<tr>
							<td class="h3 light-text">
								Please join my meeting from your computer, tablet or smartphone.
							</td>
						</tr>
						<tr height="8" class="spacer-8">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								<a href="https://global.gotomeeting.com/join/424602549">gotomeeting.com/join/424602549</a>
							</td>
						</tr>
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								You can also dial in using your phone.
							</td>
						</tr>
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								United States : +1 (224) 501-3412
								<br>Access Code: 424-602-549

							</td>
						</tr>
						<!-- end content -->
					</table>
					<!-- end right -->
				</td>
				<!-- end right -->
			</tr>

			<!-- spacer -->
			<tr colspan="3">
				<td height="64" class="spacer">&nbsp;</td>
			</tr>
			<!-- spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end announcement -->
