<!-- announcment for Golds Branded email-->
<tr bgcolor="#3b3b3b" class="announcement">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr>
				<td height="70" class="spacer" style="border-collapse: collapse; height: 70px">&nbsp;</td>
			</tr>
			<!-- end spacer -->

			<tr>
				<!-- left -->
				<td class="col-2">
					<!-- image -->
					<table class="">
						<tr>
							<td>
								<img src="http://static.nccpt.com/images/1507-sf-shirt-girl.jpg" alt="Smart Fitness">
							</td>
							<td width="30" class="spacer">&nbsp;</td>
						</tr>
					</table>
					<!-- end image -->
				</td>
				<!-- end left -->

				<!-- spacer col -->
				<td width="16" class="col-spacer">&nbsp;</td>
				<!-- end spacer col -->

				<!-- right -->
				<td class="col-4">
					<table>
						<!-- content -->
						<tr>
							<td class="h2 light-text">
								<strong>
									Karen to share Gold's Branded Smart Fitness Site
								</strong>
							</td>
						</tr>
<tr><td height="32" class="spacer-32">&nbsp;</td></tr><!-- spacer -->



						<tr height="16" class="spacer-16"><td>&nbsp;</td></tr><!-- spacer -->


						<tr>
							<td class="p light-text">
Join us for a webinar on Aug 13, 2015 at 11:00 AM PDT. 							</td>
						</tr>
						<tr height="32" class="spacer-32">
							<td>
								&nbsp;
							</td>
						</tr>
						<tr>
							<td class="h3 light-text">
Register now!
							</td>
						</tr>
						<tr height="8" class="spacer-8">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								<a href="https://attendee.gotowebinar.com/register/2273513337533833217">attendee.gotowebinar.com/register/</a>
							</td>
						</tr>
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								Please join this webinar to see the Gold's Gym branded site on Smart Fitness. You will also learn about all the new updates and more.
							</td>
						</tr>
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								After registering, you will receive a confirmation email containing information about joining the webinar.

							</td>
						</tr>
						<!-- end content -->
					</table>
					<!-- end right -->
				</td>
				<!-- end right -->
			</tr>

			<!-- spacer -->
			<tr>
				<td height="64" class="spacer">&nbsp;</td>
			</tr>
			<!-- spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end announcement -->
