<!-- banner -->
<tr bgcolor="" class="banner">
  <td>
    <table class="container">
      <tr>
        <td height="32" class="spacer-32">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" class="h2 light-text">
          {{{ smart-fitness.blog.name }}}
        </td>
      </tr>
      <tr>
        <td height="32" class="spacer-32">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>
<!-- end banner -->
