<!-- cover -->
<tr bgcolor="#fff">
	<td>
		<table class="container">
			<tr class="header">
				<td class="col-3">
					<img style="max-width:100%;" src="http://static.nccpt.com/images/150801-sf-blog.jpg" alt="cover">
				</td>
				<td width="16" class="spacer col">
					&nbsp;
				</td>
				<td class="col">
					<!-- blurb w/ btn -->
					<table>
						<tr>
						<td class="h2 dark-text">
							Announcing our new blog
							</td>
						</tr>
						<tr height="16"><td class="spacer-16">&nbsp;</td></tr><!-- spacer -->
						<tr>
							<td class="p dark-text">
								We love to talk about what’s new in the industry or share ideas designed to help you reduce headaches and save time. Smart solutions are a part of our business, designed to help you increase yours.
							</td>
						</tr>
						<tr height="16" class="spacer-16">
							<td>&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<!-- button -->

							<td align="center">
								<a href="{{ smart-fitness.blog.url }}" target="_blank" class="btn btn-default">Read More</a>
							</td>

							<!-- end buton-->
						</tr>
					</table>
					<!-- end blurb w/ btn -->
				</td>
				<td>

				</td>
			</tr>
		</table>
	</td>
</tr>
<!-- end cover -->