<!--  -->
<tr class="ph-top">
	<td>
		<table class="container">
			<tr>
				<td>
							<img src="http://static.nccpt.com/images/150915-power-house.jpg" alt="{{ smart-fitness.company }}" width="590">
				</td>
			</tr>
			<!-- spacer --><tr height="24"><td class="spacer-24">&nbsp;</td></tr>

		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end  -->
