<!-- masthead container -->
<!--  -->
<tr>
	<td>
		<table class="container"  bgcolor="white">
			<tr>
				<td>
					<img src="{{ smart-fitness.banner }}" alt="{{ smart-fitness.company }}" width="590">
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end  -->
<!-- end masthead -->
