<!-- announcment for Smart Fitness -->
<tr bgcolor="#3b3b3b" class="announcement">
	<td>
		<table align="center" class="container">
			<!-- spacer -->
			<tr>
				<td colspan="3" height="70" class="spacer" style="border-collapse: collapse; height: 70px">&nbsp;</td>
			</tr>
			<!-- end spacer -->

			<tr>
				<!-- left -->
				<td class="col-2">
					<!-- image -->
					<table>
						<tr>
							<td>
								<img src="http://static.nccpt.com/images/1507-sf-shirt-girl.jpg" alt="Smart Fitness">
							</td>
						</tr>
					</table>
					<!-- end image -->
				</td>
				<!-- end left -->

				<!-- spacer col -->
				<td width="16" class="col-spacer">&nbsp;</td>
				<!-- end spacer col -->

				<!-- right -->
				<td class="col-4">

					<!-- NEW SHIT -->
					<table>
						<tr>
							<td  class="h2 light-text">
								Get to know Smart Fitness!
							</td>
						</tr>
						<tr height="16">
							<td  class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td  class="p light-text">
								Karen Perlmutter can help you get the most out of your membership.  Learn about the latest Smart Fitness updates and more on Tuesday, September 15th from 11AM - 12PM PDT.
							</td>
						</tr>
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="h3 light-text">
								Register now!
							</td>
						</tr>
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td class="p light-text">
								<a href="https://attendee.gotowebinar.com/register/2521154142701707521" target="_blank">attendee.gotowebinar.com/register/</a>
							</td>
						</tr>
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td   class="p light-text">
								Please join this webinar to learn about all the new updates on Smart Fitness. You will also get a review on how to add users and run reports.
							</td>
						</tr>
						<tr height="16">
							<td  class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->
						<tr>
							<td  class="p light-text"> After registering, you will receive a confirmation email containing information about joining the webinar.
							</td>
						</tr>
					</table>
					<!-- end NEW SHIT-->

				</td>
				<!-- end right -->
			</tr>

			<!-- spacer -->
			<tr>
				<td colspan="3" height="64" class="spacer">&nbsp;</td>
			</tr>
			<!-- spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end announcement -->
