<!-- workshop-video -->
<tr class="workshop-video">
  <td>
    <table class="container">
      <tr>
        <td>
          <tr class="col-6">
            <td>
              <!-- video link -->
              <table id="video-link">
                <!-- spacer -->
                <tr height="32">
                  <td class="spacer-32">&nbsp;</td>
                </tr>
                <!-- end spacer -->
                <tr>
                  <td>
                    <!--video link-->
                    <a href="https://vimeo.com/134023675" target="_blank" class="light-text"><img src="http://static.nccpt.com/images/151106-john-message.jpg" alt="message from john platero"></a>
                  </td>
                </tr>
                <!-- spacer -->
                <tr height="24">
                  <td class="spacer-24">&nbsp;</td>
                </tr>
                <tr>
                  <td class="p col-6 align-center">
                  <a href="https://vimeo.com/134023675" target="_blank" class="light-text"> A message from John Platero</a>
                  </td>
                </tr>
              </table>
              <!-- end video link-->

            </td>
          </tr>
        </td>
      </tr>
      <!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr><!-- end spacer -->
    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end workshop-video -->
