---
layout: golds.hbs
subject: Golds Gym Branded smart fitness site
date: August 1, 2015
preview-text: Gold's Gym and Smart Fitness, Best way to keep your staff awesome!
hero:
  image: http://static.nccpt.com/images/150801-sf-golds.jpg
  alt: Golds Gym is ahead of the game.
---
<tr height="16" class="spacer-16">
  <td>&nbsp;</td>
</tr>
<!-- spacer -->
<tr>
  <td>
    <table class="container">
      <tr>
        <td>
          <img src="{{ hero.image }}" alt="{{ hero.alt }}">
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="32" class="spacer-32">&nbsp;</td>
</tr>
<!-- spacer -->
<!-- featured articles -->
<tr bgcolor="#840000" class="featured-articles">
  <td>
    <table class="container">
      <tr>
        <td>
          <table class="header">
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>
            <!-- spacer -->
            <tr>
              <td>
                <table align="center" class="col-6">
                  <tr>
                    <td class="h2 light-text">
                      Smart Fitness is happy to offer a Gold’s Gym Branded site with a unique log in.
                    </td>
                  </tr>
                  <tr height="16" class="spacer-16">
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="h3 light-text">
                      If you would like to set up a tour of this site, please e mail Karen Perlmutter at karenp@smartfitness.com or you may contact her direct at 818 631 5177.
                    </td>
                  </tr>
                  <tr height="32">
                    <td class="spacer-32">&nbsp;</td>
                  </tr>
                  <!-- spacer -->
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- end featured articles -->
<tr class="heavy-border">
  <td>
    <table class="container">
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>
      <!-- spacer -->
      <tr>
        <td class="p dark-text">
          <p>You will find a wealth of education in our Training Center.</p>
          <p>Some of the Training includes:</p>
          <ul>
            <li>Personal Training Certification</li>
            <li>CEU’s (FREE)</li>
            <li>Quarterly launches with Marketing Materials</li>
            <li>CPR/AED</li>
            <li>Member experience education powered by Medallia</li>
            <li>Sales trainings powered by Casey Conrad, for Membership and PT Sales.</li>
						<li> Sexual Harassment Prevention </li>
						<li>Group Exercise Certification</li>
						<li>Indoor Cycling Certification</li>
						<li>OSHA Safety Training</li>
						<li>Jeffrey Gitomer Sales</li>
          </ul>
        </td>
      </tr>
      <tr height="16">
        <td class="spacer-16">&nbsp;</td>
      </tr>
      <!-- spacer -->
      <tr>
        <td class="p">
          <a href="{{ smart-fitness.url }}" target="_blank">See the new SmartFitness.com</a>
        </td>
      </tr>
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>
      <!-- spacer -->
    </table>
  </td>
</tr>
<!-- cover -->
<tr bgcolor="#fff">
  <td>
    <table class="container">
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>
      <!-- spacer -->
      <tr class="header">
        <td class="col-3">
          <img style="max-width:100%;" src="http://static.nccpt.com/images/150801-sf-blog.jpg" alt="cover">
        </td>
        <td width="16" class="spacer col">
          &nbsp;
        </td>
        <td class="col">
          <!-- blurb w/ btn -->
          <table>
            <tr>
              <td class="h2 dark-text">
                Announcing Our New Blog!
              </td>
            </tr>
            <tr height="16">
              <td class="spacer-16">&nbsp;</td>
            </tr>
            <!-- spacer -->
            <tr>
              <td class="p">
                We love to talk about what’s new in the industry or share ideas designed to help you reduce headaches and save time. Smart solutions are a part of our business, designed to help you increase yours.
              </td>
            </tr>
            <tr height="16" class="spacer-16">
              <td>&nbsp;</td>
            </tr>
            <!-- spacer -->
            <tr>
              <!-- button -->
              <td align="center">
                <a href="{{ smart-fitness.blog.url }}" target="_blank" class="btn btn-default">Read More</a>
              </td>
              <!-- end btn-->
            </tr>
          </table>
          <!-- end blurb w/ btn -->
        </td>
        <td>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- end cover -->
<tr>
  <td height="32" class="spacer-32">&nbsp;</td>
</tr>
<!-- spacer -->
