---
layout: "sf-power-house.hbs"
subject: "Smart Fitness Newsletter 150907"
date: "September 15, 2015"
preview-text: "Welcome to the family."
---

<!--  -->
<tr>
	<td>
		<table class="container" style="background-color: white">
			<!-- spacer -->
			<tr height="8">
				<td colspan="3" class="spacer-8">&nbsp;</td>
			</tr>
			<tr>
				<td class="col-spacer"></td>
				<td>
					<img src="http://static.nccpt.com/images/sf-card-front-old.jpg" alt="Smart Fitness learning center.">
				</td>
				<td class="col-spacer"></td>
			</tr>
			<!-- spacer -->
			<tr height="8">
				<td colspan="3" class="spacer-8">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end  -->
<!-- ph-header -->
<tr >
	<td>
		<table class="container" style="background-color: white">
			<tr>
				<td class="col-spacer">&nbsp;</td>

				<td>
					<!-- nothing -->
					<table>
						<tr>
							<td class="h2">
								Smart Fitness is a Preferred Vendor for Powerhouse Gyms International
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td class="p">For the next 30 days, we are offering all Powerhouse licensees the incredible opportunity to add the Smart Fitness Total Gym Solution for only $129 per month, per location!
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td class="p">
								<strong>Expires 10/16/2015
</strong>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>

						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
					</table>
					<!-- end nothing-->
				</td>

				<td class="col-spacer">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end ph-header -->
<!-- spacer -->
<tr height="32" style="background-color: #670003">
	<td class="spacer-32">&nbsp;</td>
</tr>
<!-- sale-copy -->
<tr class="sales-copy">
	<td>
		<table class="container">
			<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
			<tr>
				<td class="col-spacer">&nbsp;</td>
				<td>

					<!--  -->
					<table>
						<tr>
							<td class="h2" align="center">
								With Smart Fitness you get:
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- copy -->
						<tr class="copy">
							<td>
								<table>
									<tr>
										<td class="col=3">
											<!--  -->
											<table>
												<tr>
													<td>
														<ul>
															<li>Personal Training Certification</li>
															<li>Indoor Cycling Certification</li>
															<li>Group Exercise Certification</li>
															<li>Weight Management Specialist</li>
															<li>Continuing Education and Recertification</li>
															<li>Jeffrey Gitomer Sales Training</li>
															<li>Casey Conrad&rsquo;s Health Club Sales</li>
															<li>Casey Conrad&rsquo;s Personal Training Sales</li>
														</ul>
													</td>
												</tr>
											</table>
											<!-- end -->
										</td>
										<td class="col-spacer">&nbsp;</td>
										<td class="col=3">
											<!--  -->
											<table>
												<tr>
													<td>
														<ul>
															<li>OSHA Safety Training</li>
															<li>Exercise Equipment Training</li>
															<li>CPR/AED Certification</li>
															<li>Sexual Harassment Prevention Education&nbsp;</li>
															<li>Member Experience powered by Club Works</li>
															<li>Track certification expiration dates</li>
															<li>Report Cards for staff accountability</li>
														</ul>
													</td>
												</tr>
											</table>
											<!-- end -->
										</td>
									</tr>
								</table>
								<!-- end container -->
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end copy -->
					</table>
					<!-- end -->



				</td>
				<td class="col-spacer">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end sale-copy -->

<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>

<!-- ph-footer -->
<tr >
	<td>
		<table class="container" style="background-color: white">
			<tr>
				<td class="col-spacer">
					&nbsp;
				</td>

				<td><!--  -->
				<table>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
					<tr>
						<td class="p">For more information, simply respond to this email or contact <a href="mailto:{{smart-fitness.email }}">Karen Perlmutter</a> at 818.631.5177, or visit:
							</td>
					</tr>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
					<tr>
						<td class="h2" align="center">
							<a href="{{smart-fitness.url}}" target="_blank">
							<img src="{{ smart-fitness.logo }}" alt="{{ smart-fitness.company }}">
							</a>
						</td></tr>
					<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
				</table>
				<!-- end -->	</td>

					<td class="col-spacer">
					&nbsp;
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end ph-footer -->

<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
