---
date: November 24, 2015
subject: Black Friday Pops Off NOW.
layout: blackfriday
---
<!-- hero -->
<tr class="cover">
	<td>
		<table class="container">
			<tr>
				<td>
					<!-- intro -->
					<table id="intro">
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
						<tr>
							<td class="h1">
								NCCPT Black Friday Mega Event
							</td>
						</tr>
						<tr>
							<td class="p">Far and Away the Best Black Friday Sale in the Professional Fitness Industry</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td class="p">
								<ul>
									<li>One Whole Week! (11.24 &mdash; 11.30)</li>
									<li>Interested in Becoming a Personal Trainer for $79-$99? (Retail: $299-$495)</li>
									<li>Specialty Certifications only $75 (Retail: $199-$499)</li>
									<li>All CEU courses 75% OFF! </li>
									<li>And Much, Much More! </li>
								</ul>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end intro-->
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end hero -->

<!-- oneUp -->
<tr class="oneUp">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="24">
				<td class="spacer-24">&nbsp;</td>
			</tr>
			<tr>
				<td>
					<!--<a href="http://www.nccpt.com/black-friday" target="_blank" title="black friday sale starts now">-->
					<img src="{{cdnUrl}}/151127-black-friday.jpg" alt="CPT SALE!!!">
					<!--</a>-->

				</td>
			</tr>
			<!-- spacer -->
			<tr height="24">
				<td class="spacer-24">&nbsp;</td>
			</tr>
			<tr>
				<td class="h2">
					Personal Trainer Certificate Courses
				</td>
			</tr>
			<tr>
				<td class="p">
					<!-- big-brother -->
					<table>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
						<tr>
							<td class="col-2">
								<!--thumbnail-->
								<a href="https://www.nccpt.com/store/products/online-deluxe-package/477"><img src="https://www.nccpt.com/data/store/store_144786982.800x800.jpg" width="180" alt="Online Deluxe Package" target="_blank"></a>

							</td>
							<td class="col-spacer"></td>
							<td class="col-4">
								<table>
									<tr>
										<td>
											<h3>
											<a href="https://www.nccpt.com/store/products/online-deluxe-package/477" target="_blank" title="Online Deluxe Package">Online Deluxe Package</a> “The Granddaddy of PT Certificate Packages”: $99 (Retail: $495)</h3>


								<p>Includes:</p>
								<ul>
									<li>
										NCCPT&rsquo;s
										<em>
											Power of Personal Training Textbook
										</em>
										 (Online Access)
									</li>
									<li>
										Course Videos (Online Access)
									</li>
									<li>
										NCCPT Sample Test (Digital Download)
									</li>
									<li>
										NCCPT Study Guide (Digital Download)
									</li>
									<li>
										One Final Exam Voucher
									</li>
									<li>
										Six CEU Articles (5 CEUs total)
									</li>
									<li>
										dotFIT Certification (8 CEUs)
									</li>
								</ul>
								</td>
								</tr>
								<tr>
									<td class="p">Promo Code: <strong>BLACK1</strong></td>
								</tr>

								<!-- spacer --><tr height="16"><td class="spacer-16">&nbsp;</td></tr>
								<tr>
									<td><a href="https://www.nccpt.com/store/products/online-deluxe-package/477" target="_blank" title="Online Deluxe Package"><button class="btn btn-default">Learn More.</button></a></td>
								</tr>
							</table>

							</td>
						</tr>


						</table>
				</td>
			</tr>
			<!-- end big-brother -->

			<!-- spacer --><tr height="24"><td class="spacer-24">&nbsp;</td></tr>

			<!-- little-brother -->
			<tr>
				<td>
					<table id="little-brother">
						<tr>
							<td>
							    <!--thumbnail-->
							    <a href="https://www.nccpt.com/store/products/nccpt-online-premium-package/1459" target="_blank" title="Online Premium Packacke"><img src="https://www.nccpt.com/data/store/store_841236094.800x800.jpg" width="180" alt="Online Premium Package"></a>
							</td>
							<td class="col-spacer"></td>
							<td class="col-4">
								<table>
									<tr>
										<td class="h3"><a href="https://www.nccpt.com/store/products/nccpt-online-premium-package/1459" target="_blank" title="Online Premium Package">Online Premium Package</a> “The Online Deluxe&apos;s Little Brother” : $89 (Retail: $439)</td>
									</tr>
									<tr>
										<td class="p">
											<p>
												Includes
											</p>
											<ul>
												<li>
													NCCPT&rsquo;s
													<em>
														Power of Personal Training Textbook
													</em>
													 (Online Access)
												</li>
												<li>
													Course Videos (Online Access)
												</li>
												<li>
													NCCPT Sample Test (Digital Download)
												</li>
												<li>
													NCCPT Study Guide (Digital Download)
												</li>
												<li>
													One Final Exam Voucher
												</li>
											</ul>

										</td>
									</tr>
									<tr>
										<td class="p">Promo Code: <strong>BLACK2</strong></td>
									</tr>
									<!-- spacer --><tr height="8"><td class="spacer-8">&nbsp;</td></tr>
									<tr>
										<td><a href="https://www.nccpt.com/store/products/nccpt-online-premium-package/1459" target="_blank" title="Online Premium Package"><button class="btn btn-default">Learn More.</button></a></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>

				</td>
					</tr>
						<!-- end little-brother-->
						<!-- spacer --><tr height="24"><td class="spacer-24">&nbsp;</td></tr>
						<!-- baby-brother -->
								<tr>
									<td>

										<table id="baby-brother">
											<tr>
												<td class="col-2">
												   <!--thumbnail-->

												   <a href="https://www.nccpt.com/store/products/certified-personal-trainer-exam/1401" target="_blank" title="Exam-Only Package" class="h3"><img src="https://www.nccpt.com/data/store/store_710771018.800x800.jpg" alt="Exam-Only Package" width="190"></a>

												</td>
												<td class="col-spacer"></td>
												<td class="col-4">
													<table>
														<tr>
															<td class="h3"><a href="https://www.nccpt.com/store/products/certified-personal-trainer-exam/1401"  target="_blank" title="Exam-Only Package">Exam-Only Package</a> “Just the Bare Bones” : $79 (Retail: $299)</td>

														</tr>
														<tr>
															<td>
																<p>Includes</p>
																<ul>
																	<li>NCCPT&rsquo;s <em>Power of Personal Training Textbook</em> (Online Access)</li>
																	<li>Course Videos (Online Access)</li>
																	<li>One Final Exam Voucher</li>
																</ul>
															</td>
														</tr>

														<tr>
															<td class="p">Promo Code: <strong>BLACK3</strong></td>
														</tr>

														<!-- spacer --><tr height="8"><td class="spacer-8">&nbsp;</td></tr>
									<tr>
										<td><a href="https://www.nccpt.com/store/products/certified-personal-trainer-exam/1401" target="_blank" title="Online Premium Package"><button class="btn btn-default">Learn More.</button></a></td>
									</tr>
													</table>
												</td>
											</tr>
										</table>

									</td>
								</tr>
								<!-- end baby-brother-->
			</td>
			</tr>
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end oneUp -->

<!-- banner -->
<tr class="banner">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
			<tr>
				<td align="center" class="h2 col-6 light-text align-center">
					Specialty Certifications – $75 EACH!
				</td>
			</tr>
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end banner -->

<!-- specialty certs -->
<tr class="blog">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
			<!--Certified Weight Management Specialist-->
			<tr>
				<td class="col-6 ">
					<!-- blog-panel -->
					<table>
						<tr>
							<td class="blog-thumbnail col-2">
								<a href="#" target="_blank">
									<img src="https://www.nccpt.com/data/store/store_802593136.800x800.jpg" width="190" alt="this is awesome">
								</a>
							</td>
							<td class="col-spacer"></td>
							<td class="blog-copy  col-4">
								<!-- copy -->
								<table class="copy">
									<tr>
										<td class="h2">
											Certified Weight Management Specialist
										</td>
									</tr>
									<tr>
										<td class="p">It's not what's done in the gym that will make you a superhero trainer. It's what your client does in the kitchen that will raise your status from personal trainer to personal transformer! Using the latest research the Weight Management Specialist course II guides you through the essential nutrition knowledge. This course is indispensable for anyone who wants to ensure client compliance to healthier nutrition habits and attain unbelievable fitness results. </td>
									</tr>
									<!-- spacer --><tr height="16"><td class="spacer-16">&nbsp;</td></tr>
									<tr>
										<td >
											<table>
												<tr>
													<td>(Retail: $199) [.8 CEUs] <br> Promo Code <strong>BLACK4</strong></td>
													<td class="col-spacer"></td>
													<td align="right">
													<a href="https://www.nccpt.com/certified-weight-management-specialist" target="_blank">
														<button class="btn btn-default">Learn More!</button>
														</a>
														</td>
												</tr>
											</table>
										</td>
									</tr>
									<!-- spacer -->
									<tr height="24">
										<td class="spacer-24">&nbsp;</td>
									</tr>
									<tr>
										<td >


										</td>
									</tr>
								</table>
								<!-- end copy-->
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end blog-panel-->


				</td>
			</tr>
			<!--end Certified Weight Management Specialist-->

			<!--Certified Powerlifting Instructor-->
			<tr>
				<td class="col-6">
					<!-- blog-panel -->
					<table>
						<tr>
							<td class="blog-copy  col-4">
								<!-- copy -->
								<table class="copy">
									<tr>
										<td class="h2">
											Certified Powerlifting Instructor
										</td>
									</tr>
									<tr>
										<td class="p">
											Join the ranks of some of the most sought after strength coaches in the world by becoming a certified powerlifting instructor. Thousands of clients are hitting the gym hoping to increase their strength and compete at various levels of fitness competitions. This certification will introduce, educate, and coach any trainee, whose goal is to increase maximum strength with an applied science approach using powerlifting movements and training methodologies for developing an individualized and optimized strength training program.
										</td>
									</tr>
								<!-- spacer --><tr height="16"><td class="spacer-16">&nbsp;</td></tr>
									<tr>
										<td>
											<table>
												<tr>
													<td>Retail: $499 [1.6 CEUs] <br> Promo Code <strong>BLACK5</strong></td>
													<td class="col-spacer"></td>
													<td><a href="https://www.nccpt.com/store/products/certified-powerlifting-instructor/1726" target="_blank">
												<button class="btn btn-default">Learn More!</button>
											</a></td>
												</tr>
											</table>
										</td>
									</tr>
						<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr><!-- end spacer -->
								</table>
								<!-- end copy-->
							</td>
							<td class="col-spacer"></td>
							<td class="blog-thumbnail col-2">
								<a href="https://www.nccpt.com/store/products/certified-powerlifting-instructor/1726" target="_blank">
									<img src="https://www.nccpt.com/data/store/store_183153262.800x800.jpg" alt="this is awesome" width="190">
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end blog-panel-->
				</td>
			</tr>
			<!--	end Certified Powerlifting Instructor-->

			<!--Certified Yoga Instructor-->
			<tr>
				<td class="col-6">
					<!-- blog-panel -->
					<table>
						<tr>
							<td class="blog-thumbnail col-2">
								<a href="https://www.nccpt.com/certified-yoga-instructor" target="_blank" title="Certified Yoga Instructor">
									<img src="https://www.nccpt.com/data/store/store_482760124.800x800.jpg" alt="Certified Yoga Instructor" width="200">
								</a>
							</td>
							<td class="col-spacer"></td>
							<td class="blog-copy  col-4">
								<!-- copy -->
								<table class="copy">
									<tr>
										<td class="h2">
											Certified Yoga Instructor
										</td>
									</tr>
									<tr>
										<td class="p">
The expansion of the practice of Yoga across the United States is extraordinary with various forms of practice and boutiques popping up everywhere. If you have been wanting to step into this transformative field of health and fitness, the Certified Yoga Instructor Course provides you with everything you need to know to begin hosting your own classes. Created by Desiree Bartlett, M.S., CPT, E-RYT, she'll show you how to incorporate her innovative approach to teaching where clients learn to tap into one's inner joy and let movement be an outer expression of that state.

										</td>
									</tr>
									<!-- spacer --><tr height="16"><td class="spacer-16">&nbsp;</td></tr>
									<tr>
										<td>
											<table>
												<tr>
													<td class="p">Retail: $495 [0.8 CEUs] <br> Promo Code <strong>BLACK6</strong></td>
													<td class="col-spacer"></td>
													<td>
													<a href="https://www.nccpt.com/certified-yoga-instructor" target="_blank">
												<button class="btn btn-default">Learn More!</button>
											</a>
											</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- end copy-->
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end blog-panel-->
				</td>
			</tr>
			<!--end Certified Yoga Instructor-->

			<!--Certified Group X Instructor-->
			<tr>
				<td class="col-6">
					<!-- blog-panel -->
					<table>
						<tr>
							<td class="blog-copy  col-4">
								<!-- copy -->
								<table class="copy">
									<tr>
										<td class="h2">
											Certified Group X Instructor
										</td>
									</tr>
									<tr>
										<td class="p">
											<p>More clients, more income, more ways to make a difference.</p>

											<p>Every fitness professional who is putting passion to purpose is looking for more ways to help others get fit and healthy. The Group Fitness Certification allows you to step out in front amongst other fitness professionals and lead the way towards a healthier future for those who might not desire a one-on-one experience. The fast-paced and dynamic environment calls for outgoing and motivated professionals just like you. Are you ready to lead?</p>

										</td>


									</tr>
							<!-- spacer --><tr height="16"><td class="spacer-16">&nbsp;</td></tr>
								<tr>
									<td>
										<table>
											<td class="p">Retail: $299 [0.8 CEUs] <br> Promo Code <strong>BLACK8</strong></td>
											<td class="col-spacer"></td>
											<td>
											<a href="https://www.nccpt.com/group-exercise-instructor" target="_blank" title="GroupX Instructor">
												<button class="btn btn-default">Learn More!</button>
											</a>
										</td>
										</table>
									</td>
								</tr>
								</table>
								<!-- end copy-->
							</td>
							<td class="col-spacer"></td>
							<td class="blog-thumbnail col-2">
								<a href="https://www.nccpt.com/group-exercise-instructor" target="_blank" title="GroupX Instructor">
									<img src="https://www.nccpt.com/images/cgi-2.jpg" alt="this is awesome" width="195">
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end blog-panel-->

				</td>
			</tr>
			<!--end Certified Group X Instructor-->


			<!--Certified Senior Fitness Specialist-->
			<tr>
				<td class="col-6">
					<!-- blog-panel -->
					<table>
						<tr>
							<!--thumbnail-->
							<td class="col-2">
								<a href="https://www.nccpt.com/store/products/certified-senior-fitness-specialist/1746" title="Senior Fitness Specialist" target="_blank">
									<img src="https://www.nccpt.com/data/store/store_388003194.800x800.jpg" width="195" alt="Senior Fitness Specialist">
								</a>
							</td>
							<!--spacer -->
							<td class="col-spacer"></td>
							<td class="col-4">
								<!-- copy -->
								<table class="copy">
									<!--headline-->
									<tr>
										<td class="h2">
											Certified Senior Fitness Specialist
										</td>
									</tr>

									<!--copy-->
									<tr>
										<td class="p">
											As the growth of the aging population continues, so do the issues of longevity and quality of life, which will lead to significant implications for personal trainers. The role of exercise becomes crucial to ensure that these individuals can improve and maintain functional independence, offering many opportunities for personal trainers to help enhance their well being.
										</td>
									</tr>

									<!-- spacer -->
									<tr height="16">
										<td class="spacer-16">&nbsp;</td>
									</tr>

									<!-- call to action -->
									<tr>
										<td>
											<!--buttton-->
											<table>
												<tr>
													<td class="p">Retail: $299 [0.8 CEUs]
														<br> Promo Code <strong>BLACK7</strong></td>
													<td class="col-spacer"></td>
													<td>
														<a href="https://www.nccpt.com/store/products/certified-senior-fitness-specialist/1746" title="Senior Fitness Specialist" target="_blank">
															<button class="btn btn-default">Learn More!</button>
														</a>
													</td>
												</tr>
											</table>
											<!--end button-->
										</td>
									</tr>

								</table>
								<!-- end copy-->
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td colspan="3" class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end blog-panel-->


				</td>
			</tr>
			<!--end Certified Senior Fitness Specialist-->

			<!--master your mind-->
			<tr>
				<td class="col-6">
					<!-- blog-panel -->
					<table>
						<tr>
							<td class="col-4">
								<!-- copy -->
								<table>
									<!--headline-->
									<tr>
										<td class="h2">
											Master Your Mind Master Your Weight
										</td>
									</tr>
									<!--blurb-->
									<tr>
										<td>
											<p>Are you dealing with clients that desperately want to lose weight but find it impossible to stick with healthy eating habits? Have you lost clients because they haven’t seen fast enough success in their weight loss? Are you frustrated, feeling like you don’t know how to help your clients to get over overeating? Would you like your clients to be so inspired by your ability to get them into shape mentally and physically that they stay training with you for decades?</p>
											<p>This program will train you step by step in how to teach your clients to master their mind and ultimately master their weight.</p>

										</td>


									</tr>
									<!-- spacer -->
									<tr height="16">
										<td class="spacer-16">&nbsp;</td>
									</tr>
									<!--call to action-->
									<tr>
										<td>
											<table>
												<tr>

													<td class="p">
														Retail: $399 [1.0 CEUs]
														<br> Promo Code <strong>BLACK13</strong>
													</td>

													<td class="col-spacer"></td>
													<td>
														<a href="https://www.nccpt.com/store/products/master-your-mind-master-your-weight-10-ceus/1566" target="_blank" title="GroupX Instructor">
															<button class="btn btn-default">Learn More!</button>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- end copy-->
							</td>
							<!-- spacer -->
							<td class="col-spacer"></td>
							<!--thumbnail-->
							<td class="col-2">
								<a href="https://www.nccpt.com/store/products/master-your-mind-master-your-weight-10-ceus/1566" target="_blank" title="Master your Mind Master your Weight ">
									<img src="https://www.nccpt.com/data/store/store_1753241062.800x800.jpg" width="195" alt="Master your Mind Master your Weight " width="195">
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
					</table>
					<!-- end blog-panel-->

				</td>
			</tr>
			<!--end master mind/weight -->



		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end specialty certs -->






<tr>
	<td class="banner">
		<!-- headline -->
		<table id="headline" class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
			<tr>
				<td>
					<h2 class="light-text">Huge Savings on Certification Renewal and Exam Retakes</h2>
				</td>
			</tr>
			<!-- spacer -->
			<tr height="8">
				<td class="spacer-8">&nbsp;</td>
			</tr>
		</table>
		<!-- end headline-->
	</td>
</tr>
<!-- huge-savings -->
<tr class="huge-savings ads">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->


			<tr class="grid">

				<td class="col-3">

					<table>
						<tr>
							<td align="center">
								<a href="https://www.nccpt.com/store/products/certification-renewal-fee/1411" target="_blank" title="Extensions"><img src="https://www.nccpt.com/data/store/store_1063366003.800x800.jpg" width="280" alt="Extensions"></a>
							</td>
						</tr>

						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td valign="top" class="h3">
								Two-Year Personal Trainer Renewal Fee
							</td>
						</tr>

						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td class="p">
								<p> It's important to keep your certification current. Get the ball rolling on your recertification with this administrative fee. </p>
								<p>$30 (Retail: $75) 60% OFF</p>
							</td>
						</tr>

						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td align="center">
								<a href="https://www.nccpt.com/store/products/certification-renewal-fee/1411" target="_blank">
									<button role="button" class="btn btn-default">Stay Up!</button>
								</a>
							</td>
						</tr>


						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td class="p" align="center">Promo Code: <strong>BLACK9</strong>
							</td>
						</tr>


						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->
					</table>

				</td>
				<td class="col-spacer"></td>
				<td class="col-3">

					<table>
						<tr>
							<td align="center">
								<a href="https://www.nccpt.com/cpt-exam-retake" target="_blank" title="Exam Retakes"><img src="https://www.nccpt.com/data/store/store_1753163924.800x800.jpg" width="280" alt="Exam Retakes"></a>
							</td>
						</tr>

						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td valign="top" class="h3">
								Personal Trainer Exam Retake
							</td>
						</tr>

						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td class="p">
								<p>
									Need another crack at the personal trainer exam?
								</p>
								<p>Would you like to add some insurance?</p>
								<p>$25 (Retail: $99) 75% OFF</p>
							</td>
						</tr>

						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td align="center">

								<a href="https://www.nccpt.com/cpt-exam-retake" target="_blank" title="Exam Retakes">
									<button role="button" class="btn btn-default">Click Here</button>
								</a>

							</td>
						</tr>


						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->

						<tr>
							<td class="p" align="center">Promo Code: <strong>BLACK10</strong>
							</td>
						</tr>


						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<!-- spacer -->
					</table>

				</td>


			</tr>

			<!-- spacer -->
			<tr height="24">
				<td class="spacer-24">&nbsp;</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end huge-savings -->

<!-- threeup ads -->
<tr class="twoup heavy-border">
	<td>
		<table class="container">
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
			<tr>
				<td class="col-3">
					<table>
						<tr>
							<td class="h3">75% OFF ALL CEU Video Courses</td>
						</tr>
						<!-- spacer -->
						<tr height="24">
							<td class="spacer-24">&nbsp;</td>
						</tr>
						<tr>
							<td>
								<a href="https://www.nccpt.com/store/categories/videos/24" target="_blank">
									<img src="{{cdnUrl}}/151123-videos-blackfriday.jpg" width="280" alt="Videos, for the passive learner.">
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="8">
							<td class="spacer-8">&nbsp;</td>
						</tr>
						<tr>
							<td class="p">
								<p>Knock out your CEU requirement and increase your personal trainer profile!</p>
								<p>Promo Code &mdash; <strong>BLACK12</strong> </p>
								<p>(Non-Specialty Certification CEUs)</p>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="8">
							<td class="spacer-8">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">
								<a href="https://www.nccpt.com/store/categories/videos/24" target="_blank">
									<button role="button" class="btn btn-default">
										Shop Here
									</button>
								</a>
							</td>
						</tr>
					</table>
				</td>

				<td class="col-spacer"></td>
				<td class="col-3">
					<table>
						<tr>
							<td class="h3">80% OFF ALL NCCPT Course Textbooks</td>
						</tr>
						<!-- spacer -->
						<tr height="24">
							<td class="spacer-24">&nbsp;</td>
						</tr>
						<tr>
							<td>
								<a href="https://www.nccpt.com/store/categories/books-ampamp-literature/29" target="_blank">
									<img src="{{cdnUrl}}/151031-blackfriday-library-sale.jpg" width="280" alt="3up">
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="8">
							<td class="spacer-8">&nbsp;</td>
						</tr>
						<tr>
							<td class="p">
								<p>Boost your professional personal trainer library!</p>

							</td>
						</tr>
						<!-- spacer -->
						<tr height="8">
							<td class="spacer-8">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">
								<a href="https://www.nccpt.com/store/categories/books-ampamp-literature/29" target="_blank">
									<button role="button" class="btn btn-default">
										Shop here
									</button>
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<!-- spacer -->
			<tr height="32">
				<td class="spacer-32">&nbsp;</td>
			</tr>
			<!-- end spacer -->
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end threeup ads -->

<!-- gear -->
<tr class="gear">
	<td>
		<table class="container">
			<tr>
				<td>
					<!-- gear-content -->
					<table id="gear-content">
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->
						<tr>
							<td class="h2">
								<a href="https://www.nccpt.com/store/categories/clothing/7" target="_blank" title="75% OFF ALL NCCPT Certified Fit Pro Personal Trainer Gear!">
									<img src="{{cdnUrl}}/151031-blackfriday-apparel-sale.jpg" width="590" alt="75% OFF ALL NCCPT Certified Fit Pro Personal Trainer Gear!">
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td class="p align-center">
								<p>Wanna earn like a industry pro? It helps to dress like one!</p>
							</td>
						</tr>
						<tr>
							<td class="p small align-center">*limited to product in stock.</td>
						</tr>
						<!-- spacer -->
						<tr height="16">
							<td class="spacer-16">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">
								<a href="https://www.nccpt.com/store/categories/clothing/7" target="_blank">
									<button role="button" class="btn btn-default">Shop Here</button>
								</a>
							</td>
						</tr>
						<!-- spacer -->
						<tr height="32">
							<td class="spacer-32">&nbsp;</td>
						</tr>
						<!-- end spacer -->

					</table>
					<!-- end gear-content-->
				</td>
			</tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end gear -->
