---
date: October, 2016
due: 1610
#content: <%= 1610_content %>
subject: Extra special
layout: index
published: true
twitter:
  image: <%= cdnUrl %>/150904-hero.jpg
og:
  url: https://www.nccpt.com/data/newsletters/<%= grunt.template.today("yyyy") %>/<%= due %>-nccpt.html
  image: <%= cdnUrl %>/150904-hero.jpg
  description: Educate - Motivate - Elevate
---
<!-- inside .container tr td -->
<table>

	<tr>
		<td>
			<table>
				<tr>
					<td class="col-spacer" width="16">&nbsp;</td>
					<td>
						<h1>Here at NCCPT we are commited to helping you.</h1>
					</td>
					<td class="col-spacer" width="16">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="spacer-16"><td>&nbsp;</td></tr>

	<tr>
		<td>
			<img class="img-featured" src="{{og.image}}" alt="{{subject}}" />
		</td>
	</tr>

	<tr class="spacer-32"><td>&nbsp;</td></tr>

	<tr>
		<td>
			<table>
				<tr>
					<td class="col-spacer" width="16">&nbsp;</td>
					<td>
						<p class="h3">
							Get the most out of your Certified Personal Trainer Course with this special offer
						</p>
						<p>
							We've noticed that you haven't taken the exam yet. So we want to extend the chance to get free study support materials and a discount on your proctoring fee.
						</p>
						<p class="title">
							what's included:
						</p>
						<ul>
							<li>NCCPT's "Power of Personal Training" Manual (Digital Copy).
Our comprehensive textbook will teach you everything from Nutrition and Exercise Physiology, to how to sell yourself to clients.
</li>
							<li>Online videos.
Step by step videos that teach you how to perform exercises using equipment you will find in most gyms.
</li>
							<li>One exam voucher.</li>
						</ul>
					</td>
					<td class="col-spacer" width="16">&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr class="spacer-32"><td>&nbsp;</td></tr>

	<tr >
    <td class="col-6">
      <table width="595">
        <tr class="align-center" align="center">
          <td>
            <a href="https://www.nccpt.com/" target="_blank">
              <button class="btn btn-default" type="button" name="link">See Details</button>
            </a>
          </td>
          <td>
              <button class="btn btn-dark" type="button" name="phone number">Call Now: (800) 778-6060</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>

</table>
