/* -------------------------------------
    BUTTONS
------------------------------------- */

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: $body-font-size;
	font-weight: normal;
	line-height: $body-line-height;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: $btn-br;
	&:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	&:hover,
	&:focus,
	&.focus {
		color: darken($gray-brand, 10%);
		text-decoration: none;
	}
	&:active,
	&.active {
		background-image: none;
		outline: 0;
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&.disabled,
	&[disabled] {
		pointer-events: none;
		cursor: not-allowed;
		//filter: alpha(opacity 65);
		box-shadow: none;
		opacity: .65;
	}
	a {
		color: inherit;
	}
}

fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	//filter: alpha(opacity 65);
	box-shadow: none;
	opacity: .65;
}

.btn-default {
	color: lighten($gray-brand, 50%);
	background-color: $brand-primary;
	border-color: $brand-primary;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		color: #cbcbcb;
		background-color: $brand-dark;
		border-color: #adadad;
	}
}

.btn-default {
	&:active, &.active {
		background-image: none;
	}
}

.btn-default {
	&.disabled, &[disabled] {
		background-color: #fff;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-default {
	background-color: #fff;
	border-color: #ccc;
}

.btn-default {
	&.disabled:hover, &[disabled]:hover {
		background-color: #fff;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-default:hover {
	background-color: #fff;
	border-color: #ccc;
}

.btn-default {
	&.disabled:focus, &[disabled]:focus {
		background-color: #fff;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-default:focus {
	background-color: #fff;
	border-color: #ccc;
}

.btn-default {
	&.disabled.focus, &[disabled].focus {
		background-color: #fff;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-default.focus {
	background-color: #fff;
	border-color: #ccc;
}

.btn-default {
	&.disabled:active, &[disabled]:active {
		background-color: #fff;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-default:active {
	background-color: #fff;
	border-color: #ccc;
}

.btn-default {
	&.disabled.active, &[disabled].active {
		background-color: #fff;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-default.active {
	background-color: #fff;
	border-color: #ccc;
}

/**
	* btn-dark
	*/
.btn-dark {
	color: $background-color;
	background-color: $brand-dark;
	border-color: lighten($brand-dark, 10%);
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		color: darken($background-color, 25%);
		background-color: $brand-dark;
		border-color: #adadad;
	}
}
.btn-dark {
	&:active, &.active {
		background-image: none;
	}
}

.btn-dark {
	&.disabled, &[disabled] {
		background-color: $brand-dark;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-dark {
	background-color: $brand-dark;
	border-color: #ccc;
}

.btn-dark {
	&.disabled:hover, &[disabled]:hover {
		background-color: $brand-dark;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-dark:hover {
	background-color: $brand-dark;
	border-color: #ccc;
}

.btn-dark {
	&.disabled:focus, &[disabled]:focus {
		background-color: $brand-dark;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-dark:focus {
	background-color: $brand-dark;
	border-color: #ccc;
}

.btn-dark {
	&.disabled.focus, &[disabled].focus {
		background-color: $brand-dark;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-dark.focus {
	background-color: $brand-dark;
	border-color: #ccc;
}

.btn-dark {
	&.disabled:active, &[disabled]:active {
		background-color: $brand-dark;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-dark:active {
	background-color: $brand-dark;
	border-color: #ccc;
}

.btn-dark {
	&.disabled.active, &[disabled].active {
		background-color: $brand-dark;
		border-color: #ccc;
	}
}

fieldset[disabled] .btn-dark.active {
	background-color: $brand-dark;
	border-color: #ccc;
}
// .btn-dark:hover {
// 	color: $background-color;
// }
/* end btn-dark */
a.btn {
	text-align: center;
	margin: 0 auto;
}

/**
	* btn-light
	*/
.btn-light {
	color: $gray-dark;
	background-color: $brand-light;
	border-color: darken($brand-dark, 10%);
	a {}
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		color: darken($brand-dark, 10%);
		background-color: darken($brand-light, 10%);
		border-color: darken($brand-dark, 20%);
	}
}
.btn-light {
	&:active, &.active {
		background-image: none;
	}
}

.btn-light {
	&.disabled, &[disabled] {
		background-color: desaturate($brand-light, 25%);
		border-color: $gray-dark;
	}
}

fieldset[disabled] .btn-light {
	background-color: desaturate($brand-light, 25%);
	border-color: $gray-dark;
}

.btn-light {
	&.disabled:hover, &[disabled]:hover {
		background-color: desaturate($brand-light, 25%);
		border-color: $gray-dark;
	}
}

fieldset[disabled] .btn-light:hover {
	background-color: desaturate($brand-light, 25%);
	border-color: $gray-dark;
}

.btn-light {
	&.disabled:focus, &[disabled]:focus {
		background-color: desaturate($brand-light, 25%);
		border-color: $gray-dark;
	}
}

fieldset[disabled] .btn-light:focus {
	background-color: desaturate($brand-light, 25%);
	border-color: $gray-dark;
}

.btn-light {
	&.disabled.focus, &[disabled].focus {
		background-color: desaturate($brand-light, 25%);
		border-color: $gray-dark;
	}
}

fieldset[disabled] .btn-light.focus {
	background-color: desaturate($brand-light, 25%);
	border-color: $gray-dark;
}

.btn-light {
	&.disabled:active, &[disabled]:active {
		background-color: desaturate($brand-light, 25%);
		border-color: $gray-dark;
	}
}

fieldset[disabled] .btn-light:active {
	background-color: desaturate($brand-light, 25%);
	border-color: $gray-dark;
}

.btn-light {
	&.disabled.active, &[disabled].active {
		background-color: desaturate($brand-light, 25%);
		border-color: $gray-dark;
	}
}

fieldset[disabled] .btn-light.active {
	background-color: desaturate($brand-light, 25%);
	border-color: $gray-dark;
}
.btn-light:hover {
	// color: inherit;
}
/**
	* end btn-light
	*/
