.cover
	vertical-align: top
  text-align: center
  font-size: 0
  line-height: 0

.header p
  color: #fff

.front-matter
	width: $width
  background-color: #000
  color: #fff
  line-height: 1
  min-height: 2.5em
  tr td
    text-align: center
  p
    font-size: 12px
    padding-top: 12px
    padding-bottom: 12px
		color: #fff

.masthead
  background-color: #152831

.article-list
  background-color: #703d16
  width: 100%
  h2
    color: #fff
    font-size: 24px
    line-height: 1.25

.social-links
  list-style-type: none
  padding-left: 35px
  width: $width / 3
  text-align: center
  a
    color: #fff
    border: none

