{{> head }}
{{> front-matter }}

<!-- index -->
<tr class="index">
	<td>
		<table class="container">
		<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
			<tr>
				<td>
					{{body}}
				</td>
			</tr>
			<!-- spacer --><tr height="32"><td class="spacer-32">&nbsp;</td></tr>
		</table>
		<!-- end container -->
	</td>
</tr>
<!-- end index -->


{{> footer }}
{{> foot }}
