---
layout: nccpt
---

<!-- main -->
<tr class="main">
  <td>
    <table class="container">
      <!-- spacer -->
      <tr height="32">
        <td class="spacer-32">&nbsp;</td>
      </tr>
      <tr>
        <td class="content">
          <table>
            <tr>
              <td colspan="3" class="h1">
                President&rsquo;s Message
              </td>
            </tr>
            <tr>
              <td height="32" class="spacer-32">&nbsp;</td>
            </tr>
            <!-- spacer -->
            <tr>
              <td class="col-spacer"></td>
              <!-- content -->
              <td class="p">
                {{#markdown}}
								{{> body }}
								{{/markdown}}
              </td>
              <td class="col-spacer"></td>
              <!-- end intro -->
            </tr>
          </table>
          <!-- end content -->
        </td>
      </tr>
    </table>
    <!-- end container -->
  </td>
</tr>
<!-- end main -->
<tr>
  <td height="32" class="spacer-32">&nbsp;</td>
</tr>
<!-- spacer -->
