<!doctype html>
<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>{{ subject }}</title>
	<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
	{{> preheader }}
	<table class="body" cellspacing="0" cellpadding="0" border="0">

		{{> sf-front-matter }}

		{{ body }}

		{{> sf-banner }}

		{{#if sf-vars.featured.ready}}
			{{> sf-featured-trainer }}
		{{/if}}


		{{#each sf-vars.blog }}
    	{{> blog-loop }}
		{{/each}}

		{{> sf-announcement }}

		{{> sf-footer }}
  </table>
	<!-- end table.body -->
	</body>
</html>

